# Database
DATABASE_NAME=squash.db

# Bloom
BLOOM_BINARY_FILE_PATH=./data/squash-it.bloom.bin
BLOOM_BINARY_SAVE_INTERVAL_SECONDS=5
BLOOM_EXPECTED_CAPACITY=1000000

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=my_secret_password
TTL_HOURS=168

# LRU
CAPACITY=100

# Rate Limiting
RATE_PER_MINUTE=60
RATE_BURST=5
RATE_CLEANUP_DURATION_SECONDS=300 # 5 minutes

# Timeout
SHUTDOWN_TIMEOUT_SECONDS=30